
@{
    ViewBag.Title = "Lara Croft Fans - Filter";

    int idTag = 0;

    if(Session["idTag"]!= null)
    {
        idTag = Int32.Parse(Session["idTag"].ToString());
    }
}
<div>
    <input type="hidden" id="idTag" value="@idTag" />

    <h1 id="title"></h1>

    <div id="filterDiv" style="padding: 30px"></div>
</div>
