@model IEnumerable<LaraCroftFansClient.Models.posts>

@{
    ViewBag.Title = "Lara Croft Fans - Home";
}

<section class="archive-featured archive-featured-stretched archive-featured-with-title">
    <div id="sliderHome">
        @foreach (var item in Model)
        {
            string imageUrl = "http://admin.laracroftfans.com/Images/Posts/" + item.image;
            <div class="highlight-item" style="background-image:url(@imageUrl)">
                <div class="click-area" onclick="window.location.href = ('@Url.Action("ViewPost", "Posts", new { id=item.id })')">
                    <h1><a href="@Url.Action("ViewPost", "Posts", new { id=item.id })">@item.title</a></h1>
                </div>
            </div>
        }
    </div>
</section>



<div class="g1-row g1-row-layout-page g1-row-padding-m archive-body">
    <div class="g1-row-inner" style="background-color: #fff;">
        <div id="primary" class="g1-column g1-column-2of3">
            <div class="g1-collection">
                <div class="g1-collection-viewport">
                    <ul id="initialPosts" class="g1-collection-items"></ul>
                </div>
            </div>
        </div>
        <div id="secondary" class="g1-column g1-column-1of3">
            <aside class="widget widget_g1_socials">
                <div class="social-btns">
                    <a class="btn facebook" href="https://www.facebook.com/laracroft.fans.page/">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a class="btn twitter" href="https://www.instagram.com/l.c_fans/">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a class="btn google" href="https://www.youtube.com/channel/UCuTNe1GJKFuqEK_CmWZN4Og">
                        <i class="fa fa-youtube"></i>
                    </a>
                </div>
            </aside>
            <aside class="widget widget_adace_ads_widget">
                <!-- Lc Fans Home -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-5534557502262674"
                     data-ad-slot="4973363651"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </aside>
            <aside id="text-11" class="widget widget_text">
                <h1 class="widget-title">Last Instagram Posts</h1>
                <!-- SnapWidget -->
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/557409" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </aside>
        </div>
    </div>
    <div class="g1-row-background"></div>
</div>