@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

body {
    background-image: url('../Images/pattern.jpg') !important;
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tomb_Raider';
    src: url('../fonts/Tomb_Raider.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratAlternates-Black';
    src: url('../fonts/MontserratAlternates-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.otf') format('opentype');
}

.main-header {
    width: 100%;
    height: 350px;
    background-color: #000;
    background-image: url('../Images/Banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1920px 350px;
}

    .main-header img {
        display: initial !important;
        width: 25%;
        margin: 306px 35%;
        border-style: none;
        outline: 0;
        font-size: 0;
        vertical-align: initial;
        background: 0 0;
    }

.parallax {
    position: absolute;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    left: 0;
    background-color: #181818;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 1080px;
    left: 0;
    background-repeat: no-repeat;
    background-position: top center;
}

.clouds-layer1 {
    background-image: url('../Images/ChichenItza.png');
}

.clouds-layer2 {
    background-image: url('../Images/logo.png');
}

.clouds-layer3 {
    background-image: url('../Images/LaraCroft.png');
}


.clouds-layer1, .clouds-layer2, .clouds-layer3 {
    background-size: 100%;
}

.primary-text {
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, #124a6b, #155880);
    color: #fff;
}

.top-menu {
    background-color: #ffffff;
    width: 100%;
    height: 35px;
    color: #666;
    max-width: 1182px;
    margin: 0 auto;
}

.logo {
    font-family: Tomb_Raider;
    color: #181818;
    font-size: 28px;
    vertical-align: middle;
}


.itens {
    position: relative;
    height: 100%;
    text-align: left;
}

    .itens ul {
        height: 100%;
        padding: 0 !important;
        color: #cecece;
    }

        .itens ul li a {
            text-decoration: none;
            color: #666;
            font-size: 13px;
            transition: all 0,3s;
        }

            .itens ul li a:hover {
                text-decoration: none;
                color: #ff1b23;
            }

        .itens ul li {
            height: 100%;
            width: 80px;
            display: inline-table;
            padding: 5px 10px 5px 10px;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.3s;
            text-align: center;
        }

.social-media {
    font-size: 18px;
    text-align: right;
    margin-top: 10px;
}

    .social-media a {
        transition: all 0.3s;
        color: #666;
        padding: 2px;
    }

        .social-media a:hover {
            color: #ff1b23;
        }


.menu {
    width: 100%;
    height: 100px;
    max-width: 1182px;
    margin: 0 auto;
}

.menu-items {
    display: inline-flex;
    list-style: none;
    font-weight: bold;
    padding-left: 0px;
}

    .menu-items li {
        margin-left: 40px;
    }

.menu ul li a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s;
}

    .menu ul li a:hover {
        color: #ff1b23;
    }

    .menu ul li a i {
        font-size: 10px;
        margin-bottom: 5px;
        vertical-align: middle;
    }


.highlight-item {
    width: 100%;
    background-size: 190%;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
}

    .highlight-item .click-area {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        width: 100%;
        height: 400px;
        vertical-align: bottom;
        cursor: pointer;
        transition: all 0.5s;
        padding: 300px 10px 10px 10px;
    }

        .highlight-item .click-area:hover {
            background-color: rgba(0, 0, 0, 0.0);
        }

.click-area h1 a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.slider {
    width: calc(100% - 100px);
    height: 400px;
    background-color: #181818;
    margin: 0 auto;
    position: absolute;
}

.slider-home-item {
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #000;
    width: 75%;
    height: 100%;
    position: absolute;
    display: none;
}

.slider-description {
    width: 25%;
    height: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0.40);
    position: relative;
    z-index: 1000;
}

.blur-bg {
    width: 25%;
    height: 100%;
    background-color: #fff;
    background-position: center right;
    background-size: 440% 170%;
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    z-index: 999;
    filter: blur(5px);
    left: 75%;
}

.slider-description-item {
    width: 100%;
    height: 100px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.40);
    cursor: pointer;
    padding: 10px 5px 10px 5px;
    color: #fff;
    transition: all 0.5s;
}

    .slider-description-item:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .slider-description-item:active {
        background-color: rgba(255, 255, 255, 0.10);
    }

    .slider-description-item h1 {
        font-size: 15px;
        font-weight: bold;
        margin: 5px 5px 5px 5px;
    }

    .slider-description-item span {
        font-size: 11px;
        word-break: break-word;
        margin: 5px 5px 5px 5px;
    }

.image-description {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 10px 5px 10px 5px;
    margin-top: 300px;
    color: #fff;
}

    .image-description h1 {
        margin: 0;
    }

        .image-description h1 a {
            text-decoration: none;
            color: #fff;
        }

    .image-description span {
        margin: 0;
        word-break: break-word;
    }

.all-content {
    width: 100%;
    min-height: 500px;
}

.home-wrapper {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
}

footer {
    width: calc(100% - 100px);
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.90);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 200px;
}

.interviews {
}

    .interviews h1, .widget-title h1 {
        margin: 9px 0px 0px 15px;
        background-color: #1e3e50;
        padding: 5px 0px 5px 11px;
        border-radius: 4px;
        color: #f3f3f3;
        font-size: 25px;
    }

.interview-item {
    width: 250px;
    height: 250px;
    border: solid 1px #fff;
    display: inline-table;
    margin-left: 10px;
}

    .interview-item .image {
        width: 250px;
        height: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 230%;
        position: absolute;
        z-index: 999;
        transition: all 0.5s;
    }

        .interview-item .image:hover {
            background-size: 240%;
            cursor: pointer;
        }

.red-line {
    width: 2px;
    height: 37px;
    background-color: #dc1010;
    position: absolute;
    margin-top: 3%;
    margin-left: 10%;
}

.interview-item .content {
    position: absolute;
    width: 250px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.80);
    color: #fff;
    z-index: 1000;
    margin-top: 195px;
    list-style-type: none;
    text-align: left;
    padding-left: 5px;
}

    .interview-item .content h1 {
        font-family: MontserratAlternates-Black;
        font-size: 14px;
        margin-left: 15%;
        margin-top: 4%;
        margin-bottom: 0;
    }

    .interview-item .content a {
        font-family: Montserrat-Light;
        font-size: 10px;
        margin-left: 15%;
        color: #fff;
        text-decoration: none;
    }

.ads-area {
    margin-top: 25px;
    height: 100%;
    width: 100%;
}

.logo h1 {
    font-family: Tomb_Raider;
    font-size: 30px;
    margin-top: 3vw;
}

    .logo h1 a {
        color: #303030;
        text-decoration: none;
    }


a.effect-box:after,
a.effect-box:before {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 0.9em;
    width: 230px;
    opacity: 0;
    margin-left: 20px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

a.effect-box:before {
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

a.effect-box:after {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.home-widget {
}

    .home-widget > h1 {
        margin: 9px 0px 0px 0px;
        background-color: #1e3e50;
        padding: 5px 0px 5px 11px;
        border-radius: 4px;
        color: #f3f3f3;
        font-size: 25px;
    }

.home-widget-content {
    width: 100%;
    padding: 5px;
}

.post-title {
    font-family: 'Bebas Neue';
    margin-bottom: 5px;
    font-size: 2em;
    text-align: left;
    line-height: 35px;
}

.suggest-item {
    width: 100%;
    height: 150px;
    background-size: 130%;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    background-position: center center;
    cursor: pointer;
    transition: all 0.3s;
    text-align: left;
}

    .suggest-item:hover {
        background-size: 140%;
    }

    .suggest-item:active {
        background-size: 130%;
    }

    .suggest-item span {
        color: #fff;
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.59);
        padding: 5px;
    }

.article {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.inner-article {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.ads-article, .item-section {
    margin-top: 10px;
}

    .item-section ul {
        width: 100%;
        list-style: none;
        font-size: 18px;
        margin: 0;
        padding: 25px;
        background-color: #f5f5f5;
        border-radius: 5px;
    }

        .item-section ul li {
            padding: 5px;
        }

            .item-section ul li a {
                text-decoration: none;
                color: #181818;
                transition: all 0.3s;
            }

                .item-section ul li a:hover {
                    color: #ff1b23;
                }

.inner-article-img {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 600px;
    max-width: 1150px;
    position: relative;
    margin: 0 auto;
    padding: 10px 20px 10px 30px;
}

.inner-article .text {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: justify;
}


.breadcumb-article {
    color: rgba(255, 255, 255, 0.8);
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: inline;
}

.about-author {
    width: 100%;
    min-height: 120px;
    padding: 10px 10px 10px 10px;
    background-color: #f2f2f2;
}


    .about-author img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    .about-author h4 {
    }

    .about-author span {
    }


.home-submenu {
    width: 300px;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    display: block;
    list-style: none;
    padding: 10px;
    margin: 0;
    font-weight: normal;
    box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.15);
    display: none;
}

    .home-submenu li {
        padding: 0px 0px;
        margin: 20px 20px;
    }

.item-home {
    margin: 30px 80px;
}

.home-img {
    border-radius: 10px;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.52);
    transition: all 0.5s;
}

    .home-img:hover {
        box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.15);
    }


.home-user-img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
}

.item-post-description {
    color: #949494;
}

    .item-post-description h4 a {
        text-decoration: none;
        color: #191919;
        transition: all 0.5s;
    }


        .item-post-description h4 a:hover {
            color: #ff1b23;
        }

h3, .g1-gamma {
    font-size: 1.26563rem;
    line-height: 1.125;
    font-family: poppins,roboto,sans-serif;
    letter-spacing: -.025em;
    font-weight: 600;
    color: #000;
}

.entry-tpl-list .entry-title {
    padding-top: .75em;
    margin-bottom: .75em;
}

.entry-header .entry-title {
    clear: both;
}

.entry-title > a {
    color: inherit;
}

a {
    -webkit-transition: .3s;
}

a {
    cursor: pointer;
    text-decoration: none;
    border-width: 0;
    border-style: solid;
}

a, .entry-title > a:hover, .entry-meta a:hover, .menu-item > a:hover, .current-menu-item > a, .mtm-drop-expanded > a, .g1-nav-single-prev > a > span:before, .g1-nav-single-next > a > span:after, .g1-nav-single-prev > a:hover > strong, .g1-nav-single-prev > a:hover > span, .g1-nav-single-next > a:hover > strong, .g1-nav-single-next > a:hover > span, .mashsb-count, .archive-title:before, .snax .snax-item-title > a:hover {
    text-decoration: none;
}


.black-bg a {
    color: #fff;
}

.white-bg a {
    color: #181818;
}

a:hover {
    -webkit-transition: .3s;
    color: #ff1b23;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
}

.archive-body {
    padding: 10px 0;
}

.g1-row-padding-m {
    padding-top: 30px;
    padding-bottom: 30px;
}

.g1-row {
    clear: both;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, abbr, acronym, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.g1-row-inner {
    position: relative;
    z-index: 1;
    max-width: 708px;
    margin: 0 auto;
    font-size: 0;
}

#primary {
    display: block;
    font-size: 1rem;
    text-align: left;
}

.g1-column {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    font-size: 1rem;
}

.g1-row-inner {
    position: relative;
    z-index: 1;
    max-width: 708px;
    margin: 0 auto;
    font-size: 0;
}

.g1-collection {
    clear: both;
    margin: 0 auto;
}

.g1-collection-viewport {
    clear: both;
    margin-left: -10px;
    margin-right: -10px;
}

.g1-collection-items {
    counter-reset: g1-collection-item-counter;
    clear: both;
    list-style: none;
    font-size: 0;
}


ol, ul {
    list-style: none;
}

.g1-collection-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 10px;
    vertical-align: top;
    font-size: 1rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.entry-tpl-list {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}


    .entry-tpl-list .entry-featured-media {
        margin: 0;
    }

.g1-frame {
    display: block;
}

.g1-collection .g1-frame-inner {
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    border-radius: 9px;
    background: rgba(0,0,0,.12);
}

.g1-frame-inner {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    position: relative;
}

    .g1-frame-inner img {
        display: block;
    }

.entry-featured-media img {
    width: 100%;
}

.entry-byline {
    margin-bottom: .25rem;
}

.g1-meta {
    font-size: 13px;
    line-height: 16px;
    font-family: poppins,roboto,sans-serif;
    color: #999;
}

.entry-author {
    display: block;
    margin-right: 10px;
}

    .entry-author .avatar {
        float: left;
        margin-right: 10px;
    }

.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.entry-byline .entry-date {
    display: block;
}

.entry-date {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.g1-meta a {
    color: #000;
}

#initialPosts {
    display: none;
}

.loader {
    background-image: url('../Images/gif_load.gif');
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position: center center;
    width: 100%;
    height: 300px;
}

#secondary {
    display: block;
    font-size: 1rem;
    text-align: left;
}


    #secondary .widget {
        margin-bottom: 3rem;
    }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.g1-socials-items-tpl-grid {
    font-size: 0;
}

.g1-socials-items {
    max-width: 100%;
    width: 120px;
    list-style: none;
}

.g1-socials-items-tpl-grid .g1-socials-item {
    display: inline-block;
    font-size: 1rem;
    margin-left: 10px;
}

.g1-socials-items-tpl-grid .g1-socials-item {
    width: 25%;
    text-align: center;
}

.g1-socials-item-link {
    display: block;
    position: relative;
    margin: side-values(0);
    padding: side-values(0);
    border: 0 !important;
    text-decoration: none;
}

.g1-socials-item-link {
    color: inherit;
}

.g1-sticky-sidebar {
    margin-top: 20px;
}

.g1-row-layout-page > .g1-row-background {
    background-color: #fff;
}

.g1-row-background {
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.g1-body-inner {
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.g1-hb-row-normal {
    display: none;
}

.g1-hb-row-1 {
    z-index: 65;
}

.g1-hb-row {
    position: relative;
    z-index: 50;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

    .g1-hb-row > .g1-row-inner {
        position: static;
    }

        .g1-hb-row > .g1-row-inner > .g1-column {
            position: static;
            padding-top: 7px;
        }

    .g1-hb-row .g1-column {
        width: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: none;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

.g1-bin-grow-off {
    -webkit-flex-grow: 0;
    flex-grow: 0;
}


.g1-bin-align-left {
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.g1-bin {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.g1-bin-1 .g1-primary-nav, .g1-bin-1 .g1-secondary-nav, .g1-bin-1 .g1-quick-nav, .g1-bin-1 .g1-id, .g1-bin-1 .g1-hb-search-form, .g1-bin-1 .g1-socials-hb-list, .g1-bin-1 .snax-button-create, .g1-bin-1 .wpml-ls {
    margin-right: 20px;
    margin-left: 0;
}

.g1-body-inner .g1-secondary-nav {
    display: none;
}

.g1-body-inner .g1-primary-nav, .g1-body-inner .g1-secondary-nav {
    margin-bottom: 0;
}

.g1-secondary-nav {
    margin-bottom: 1.5rem;
    z-index: 0;
}

.g1-secondary-nav-menu {
    margin: 0;
    list-style: none;
}

.g1-body-inner .g1-secondary-nav-menu > .menu-item {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 14px;
}

.g1-secondary-nav-menu > .menu-item {
    display: block;
    font-size: 1rem;
    text-align: left;
}


.g1-hb-row-a .g1-row-background {
    background-color: #fff;
}

.g1-row-layout-page > .g1-row-background {
    background-color: #fff;
}

.g1-row-background {
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    z-index: -2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.archive-featured {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#secondary {
    width: 380px;
}


.g1-collection .g1-frame-inner:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

    .social-btns .btn:before {
        top: 90%;
        left: -110%;
    }

    .social-btns .btn .fa {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    .social-btns .btn.facebook:before {
        background-color: #3b5998;
    }

    .social-btns .btn.facebook .fa {
        color: #3b5998;
    }

    .social-btns .btn.twitter:before {
        background-color: #3cf;
    }

    .social-btns .btn.twitter .fa {
        color: #3cf;
    }

    .social-btns .btn.google:before {
        background-color: #dc4a38;
    }

    .social-btns .btn.google .fa {
        color: #dc4a38;
    }

    .social-btns .btn.dribbble:before {
        background-color: #f26798;
    }

    .social-btns .btn.dribbble .fa {
        color: #f26798;
    }

    .social-btns .btn.skype:before {
        background-color: #00aff0;
    }

    .social-btns .btn.skype .fa {
        color: #00aff0;
    }

    .social-btns .btn:focus:before,
    .social-btns .btn:hover:before {
        top: -10%;
        left: -10%;
    }

    .social-btns .btn:focus .fa,
    .social-btns .btn:hover .fa {
        color: #fff;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

.social-btns {
    margin: auto;
    font-size: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

    .social-btns .btn {
        display: inline-block;
        background-color: #fff;
        width: 90px;
        height: 90px;
        line-height: 90px;
        margin: 0 10px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 28%;
        box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
        opacity: 0.99;
    }

        .social-btns .btn:before {
            content: '';
            width: 120%;
            height: 120%;
            position: absolute;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .social-btns .btn .fa {
            font-size: 38px;
            vertical-align: middle;
        }


.g1-prefooter {
    color: #666;
}

.g1-prefooter {
    z-index: 0;
    padding-top: 3rem;
}

#filterDiv {
    display: none;
}

#title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    width: 100%;
    text-align: center;
}

.top-mobile {
    display: none;
    text-align: center;
}

    .top-mobile .logo {
        font-size: 1.5em;
    }

.menu-icon {
    width: 20%;
}

.logo-mobile {
    width: 80%;
    text-align: left;
}

.left-mobile-menu {
    position: fixed;
    width: 80%;
    height: 100%;
    background-color: #fff;
    z-index: 1005;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: visible;
    display: none;
}

    .left-mobile-menu ul li {
        margin: 20px 40px 5px 10px;
        border-bottom: solid 1px #d8d8d8;
        padding: 5px;
    }

        .left-mobile-menu ul li ul {
            display: none;
            margin-left: 10px;
            font-size: 19px;
            padding: 15px 15px 15px 5px;
            border-left: solid 1px #ff3b42;
        }

            .left-mobile-menu ul li ul li {
                padding: 10px 0px 10px 10px;
                margin: 0;
                border-bottom: 0;
            }

.widget-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

@media only screen and (max-width: 601px) {
    .top-mobile {
        width: 100%;
        height: 50px;
        background-color: #fff;
        position: fixed;
        z-index: 1010;
        display: flex;
        padding-top: 10px;
        padding-left: 10px;
    }

    .inner-article-img {
        height: 190px;
    }

    .highlight-item {
        background-size: 250%;
    }

    .g1-body-inner {
        padding-top: 50px;
    }

    .main-header img {
        display: initial !important;
        width: 90%;
        margin: 305px 7%;
        border-style: none;
        outline: 0;
        font-size: 0;
        vertical-align: initial;
        background: 0 0;
    }
}

@media only screen and (min-width: 601px) {

    .entry-tpl-list {
        position: relative;
    }

        .entry-tpl-list .entry-featured-media {
            float: left;
            width: 50%;
            max-width: 364px;
            margin: 0 20px 0 0;
        }

        .entry-tpl-list .entry-body {
            overflow: hidden;
        }
}


@media only screen and (min-width: 801px) {

    .archive-body {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .g1-row-inner {
        max-width: 1300px;
    }

    #primary, #secondary {
        display: inline-block;
        vertical-align: top;
    }

    .g1-column-2of3 {
        width: 66.66667%;
    }

    .g1-column {
        display: inline-block;
    }

    #secondary {
        padding-left: 20px;
    }
}



@media only screen and (min-width: 1025px) {

    h3, .g1-gamma {
        font-size: 21px;
    }

    .archive-body {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .g1-column {
        padding-left: 15px;
        padding-right: 15px;
    }

    .g1-collection-viewport {
        margin-left: -15px;
        margin-right: -15px;
    }

    .g1-collection-item {
        padding: 15px 15px;
    }

    featured-media {
        margin-right: 30px;
    }

    #secondary {
        padding-left: 45px;
        width: 390px;
    }

    #page {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        background-image: url('../Images/pattern.jpg');
    }

    .g1-hb-row-normal {
        display: block;
    }

    .g1-body-inner .g1-secondary-nav {
        display: block;
    }
}
